<div>
    <h1>Lista de productos</h1>
    <div>
    {{#each prodList}}
        <div>
            <br>
            <p>Product </p>
            <p> - Title: {{ this.title }} </p>
            <p> - desc: {{ this.desc }} </p>
            <p> - price: {{ this.price }} </p>
            <p> - status: {{ this.status }} </p>
            <p> - stock: {{ this.stock }} </p>
            <p> - code: {{ this.code }}</p>
            <br>
        </div>
    {{/each}}
    </div>
</div>



{{!
    Esta plantilla debe
    Contiener todos los productos agregados hasta el momento
    

}}