<div>
    <h1>Profile</h1>
    <button class="redirect-button" onclick="window.location.href='..'">Go back</button>
    <div id="main-div">
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Role: {{ user.role }}</p>
        <p>ID: {{user._id}}</p>
    </div>
    
</div>

<link rel="stylesheet" href="/css/user-profile.css">